body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
  background-color: #fff;
  line-height: 1.5;
}
.nav-link{
  color: #008A86;
  font-weight: bold;
}
.navbar-toggler{
  outline: none!important;
}
.nav-item :hover{
  color: #505050;
}
.nav-link.active{
  color: #222;
}
/*---- End of Navigation Bar --------------------------------------------------*/


/*---- Register --------------------------------------------------*/
.regisnbtn {
    background: #008A86;
    border: none;
    border-radius: 25px;
    color: #fff;
    display: block;
    font-size: 18px;
    height: 38px;
    line-height: 28px;
    margin: 20px auto 5px;
    width: 250px;
    margin-top: 40px;
}

.regisnbtn:hover {
    background: #505050;
    color: #fff;

}

.new_reg_popup, .new_login_popup {
    border-radius: 2px;
    min-height: 332px;
    padding: 40px;
    width: 500px;
    margin: 0px auto;
}

.text-center a{
    color: #008A86;
}

.topic{
    color: #008A86;
}
/*---- End of Register --------------------------------------------------*/

.dropdown-menu >a{
  color: #008A86;
  font-weight: 500;
}
.dropdown-menu >a:hover{
  color: #ffffff;
  background-color: #505050;
}