body{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  /*----- Dashboard --------------------------------------------------------------------------------------*/
  /*  styling scrollbars  */
  ::-webkit-scrollbar {
    width: 5px;
    height: 6px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #a5aaad;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #008A86;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #a5aaad;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  
  .text-primary-p {
    color: #a5aaad;
    font-size: 14px;
    font-weight: 700;
  }
  
  .font-bold {
    font-weight: 700;
  }
  
  .text-title {
    color: #2e4a66;
  }
  
  .text-lightblue {
    color: #469cac;
  }
  
  .text-red {
    color: #cc3d38;
  }
  
  .text-yellow {
    color: #a98921;
  }
  
  .text-green {
    color: #3b9668;
  }
  /*----- Nav Bar ------------------------------------------------------------------------------------------*/
  .container1 {
    display: grid;
    height: 100vh;
    grid-template-columns: 0.8fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "sidebar nav nav nav"
      "sidebar main main main";
    /* grid-gap: 0.2rem; */
  }
  
  .navbar {
    background: #008A86;
    grid-area: nav;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;
  }
  
  .nav_icon {
    display: none;
  }
  
  .nav_icon > i {
    font-size: 26px;
    color: #ffffff;
  }
  
  .navbar__left > label {
    color: #fff;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar__right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar__right > a {
    margin-left: 20px;
    text-decoration: none;
  }
  
  .navbar__right > a > i {
    color: #505050;
    font-size: 16px;
    border-radius: 4px;
    margin-right: 20px;
    background: #ffffff;
    /*box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;*/
    padding: 7px;
  }
  
  .navbar__right > a > i:hover{
    color: #fff;
    background: #505050;
  }
  /*----- End of Nav Bar ------------------------------------------------------------------------------------------*/
  
  /*----- Main Head ------------------------------------------------------------------------------------------*/
  main {
    background: #f3f4f6;
    grid-area: main;
    overflow-y: auto;
  }
  
  .main__container {
    padding: 20px 35px;
  }
  
  .main__title {
    display: flex;
    align-items: center;
  }
  
  .main__greeting > h1 {
    font-size: 24px;
    color: #505050;
    margin-bottom: 5px;
  }
  /*----- End of Main Head -------------------------------------------------------------------------------------*/

/*----- Side Bar ----------------------------------------------------------------------------------------------------*/

#sidebar {
    background: #ffffff;
    grid-area: sidebar;
    overflow-y: auto;
    padding: 20px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  
  .sidebar__img {
    display: flex;
    margin-bottom: 14px;
    margin-left: 5px;
    align-items: center;
  }
  
  .sidebar__title > div > img {
    width: 150px;
    object-fit: contain;
  }
  
  .sidebar__title > i {
    font-size: 18px;
    display: none;
  }
  
  .sidebar__menu > h2 {
    color: #3ea175;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 0 10px;
    font-weight: 700;
  }
  
  .sidebar__link {
    color: #008A86;
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 5px;
  }
  
  .sidebar__link:hover{
    color: #505050;
  }
  
  .active_menu_link {
    background: #505050;
    color: #fff !important; 
  }
  
  .active_menu_link a {
    color: #fff !important;
  }
  
  .sidebar__link > a {
    text-decoration: none;
    color: #008A86;
    font-weight: 700;
  }
  
  .sidebar__link > a:hover {
    text-decoration: none;
    color: #505050;
  }
  
  .sidebar__link > i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar__logout {
    margin-top: 20px;
    padding: 10px;
    color: #e65061;
  }
  
  .sidebar__logout:hover {
    color: #b90e0e;
  }
  
  .sidebar__logout > a {
    text-decoration: none;
    color: #f34545;
    font-weight: 700;
    text-transform: uppercase;
  }
  
  .sidebar__logout > a:hover{
    text-decoration: none;
    color: #b90e0e;
  }
  
  .sidebar__logout > i {
    margin-right: 10px;
    font-size: 18px;
  }
  
  .sidebar_responsive {
    display: inline !important;
    z-index: 9999 !important;
    left: 0 !important;
    position: absolute;
  }
  /*----- End of Side Bar ----------------------------------------------------------------------------------------------------*/
  @media only screen and (max-width: 978px) {
    .container {
      grid-template-columns: 1fr;
      /* grid-template-rows: 0.2fr 2.2fr; */
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        "nav"
        "main";
    }
  
    #sidebar {
      display: none;
    }
  
    .sidebar__title > i {
      display: inline;
    }
  
    .nav_icon {
      display: inline;
    }
  }

  /*-------------- Form ---------------------------------------------------------*/
  .form-group{
      width: 50%;
  }
  .form-group label{
      color: #008A86;
      font-size: 14px;
  }
  .rebtn{
      margin-top: 20px;
      margin-bottom: 60px;
      width: 200px;
      background-color: #008A86;
      color: #fff;
      font-weight: bold;
      border: none;
      height: 30px;
      border-radius: 40px;
  }
  .rebtn:hover{
    background-color: #505050;
    color: #fff;
  }
  .rebtn:focus{
    background-color: #353535;
  }
  .hr1{
      width: 50%;
  }
  .custom-control >label{
    color: #353535;
    font-weight: bold;
  }



.update-btn{
    color: #ffffff;
    border: none;
    padding: 8px;
    margin-top: 8px;
    background-color: #008A86;
}
.update-btn:hover{
    color: #ffffff;
    background-color: #505050;
}
  /*-------------- End of Form ---------------------------------------------------------*/